@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@700&family=Dosis&family=Manrope:wght@300&family=Montserrat:wght@400;500&family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@700&family=Dosis&family=Manrope:wght@300&family=Montserrat:wght@400;500&family=Roboto:ital,wght@0,300;0,700;1,400&family=Tajawal:wght@300&display=swap');

.CardItem{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: rgb(248, 194, 253);
    border: 2px solid rgb(248, 194, 253);
    margin: 7px;
    box-sizing: border-box;
    border-radius: 20px;
}

.Header{
    margin: 3px;
    padding: 0px;
}

.ItemHeader{
    font-family: 'Dosis', sans-serif;
    font-size: 23px;
}

.ItemImg{
    width: 200px;
    margin: 10px;
    padding: 0px;
    border-radius: 5px;
    border: 2px solid rgba(39, 38, 38, 0.815);
}

.Info{
    margin: 3px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

}

.ItemFooter{
    display: flex;
}

.Option{
    margin: 5px;
    padding: 7px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: rgb(204, 51, 171);
    border: 2px solid rgb(204, 51, 171);
    border-radius: 8px;
    box-sizing: border-box;
}