@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@700&family=Dosis&family=Manrope:wght@300&family=Montserrat:wght@400;500&family=Red+Hat+Display&family=Roboto:ital,wght@0,300;0,700;1,400&family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@700&family=Dosis&family=Manrope:wght@300&family=Montserrat:wght@400;500&family=Red+Hat+Display&family=Roboto:ital,wght@0,300;0,700;1,400&family=Tajawal:wght@300&display=swap');

.Main{
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 240, 255);

}

.MainTitle{
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script';
    font-size: 60px;
    font-weight: bold;
    color: rgb(245, 24, 178);
}

.MainText{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.MainImg{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}