.NavHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 20px;
    background-image: linear-gradient(to left top, #fb0b96, #f84aa4, #f46ab1, #ef83bc, #ea9ac6, #ea9ac6, #ea9ac6, #ea9ac6, #ef83bc, #f46ab1, #f84aa4, #fb0b96);
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}


.ImgLog{
    display: flex;
}
.NavBar{
    display: flex;
}
.CartWdget{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}