@import url('https://fonts.googleapis.com/css2?family=Borel&family=Dancing+Script:wght@700&family=Dosis&family=Manrope:wght@300&family=Montserrat:wght@400;500&family=Roboto:ital,wght@0,300;0,700;1,400&family=Tajawal:wght@300&display=swap');

.Counter{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.Controls{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3%;
    justify-content: center;
    
}

.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 7px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: rgb(204, 51, 171);
    border: 2px solid rgb(204, 51, 171);
    border-radius: 8px;
    box-sizing: content-box;
}

.Number{
    display: flex;
    margin: 3px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

